<!DOCTYPE html>
<html>
<head>
    <title>Insurance App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,700;1,900&family=Roboto:wght@300&family=Rubik+Mono+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
    </div>

    <div class="main">
        <div class="formBox">
            <h1>Insurance</h1>
            <div class="tableBox">
                <p>Orders to be refunded</p>
                <table id="ordersToBeRefunded">
                    <tr>
                      <th>Order Id</th>
                      <th>Refund Amount</th>
                      <th>Pharmacy</th>
                      <th></th>
                    </tr>
                </table>
                <button id="emitRefund">Click to refund</button>
            </div>

            <div class="tableBox">
                <p>Orders already refunded</p>
                <table id="orderAlreadyRefunded">
                    <tr>
                      <th>Order Id</th>
                      <th>Refund Amount</th>
                      <th>Pharmacy</th>
                      <th>Date</th>
                    </tr>
                  </table> 
            </div>

        </div>
    </div>

    <div class="footer">VC-4-MED : Proof of Concept</div>
    <!--JS --> 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/c4ff92cb5e.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>
