body{
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: rgba(55, 150, 131, 0.29);
    /*background-image: url("medical-banner-with-doctor-wearing-coat.jpg");*/
    background-size: cover;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.header{
    background: #379683;
    box-shadow: 0px 2px;
    color: white;
    font-size: large;
    padding-left: 2%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2%;
}

.footer{
    background-color: black;
    width: 100%;
    color: white;
    font-size: x-small;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.formBox{
    /*background: rgba(217, 217, 217, 0.29);*/
    text-align: center;
    backdrop-filter: blur(10px);
    margin: 1% 2%;
}

.formRow{
    display: flex;
    flex-flow: column wrap;
    padding: 2%
}

.formRow > label{
    text-align: left;
    margin-left: 1%;
}

.formRow > input{
    margin: 1%;
    flex:1;
}

.button, button {
    /*
    background-color: rgb(0, 200, 154);
    background: rgba(217, 217, 217, 0.9);
    */
    background: #379683;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
    margin: 5px;
    font-size: 15px;
}

.button:hover, button:hover{
    /*background: rgba(0, 200, 154, 0.5);*/
    background: rgba(55, 150, 131, 0.29);
    color: black;
    cursor: pointer;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

.tableHeader{
    width: 1280px;
    table-layout: fixed;
}

.tableData{
    table-layout: fixed;
}

.wrapTableData{
    height:150px;
    width: 1280px;
    overflow-y: auto;
    overflow-x: hidden;

}

.popupBox {
    padding: 20px;
    background-color: black;
    color: white;
    width: 30%;
    margin: 1% 35% 0% 35%;
    visibility: hidden;
    position: fixed;
    z-index:20;

    -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);

}

.alert{
    background-color: #f44336;
}

.success{
    background-color: green;
}

.message{
    background-color: grey;
}
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
  color: black;
}

@media screen and (min-width: 1025px) {
    .formBox{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .card{
        border: 3px #379683 solid;
        border-radius: 5%;
        background: rgba(55, 150, 131, 0.35);
    }

    .wrapBoxes{
        display: flex;
        margin: 10% 10% 20% 10%;
    }
}

@media screen and (max-width: 480px) {
    body{
        background-position: top center;
        background-size: 300vw auto;
    }
}
