<!DOCTYPE html>
<html>
<head>
    <title>Pharma</title>
</head>
<body>
    <h1>Ask for a refund</h1>

    <button id="getCredentials" name="getCredentials">Get Credentials from PharmaDB</button>
    <button id="sendCredentials" name="sendCredentials">Send Credentials to insurance</button>
    <button id="reset">Reset</button>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        const credentialEndpoint = 'http://192.168.1.20:5001/api/credentials'
        const insuranceEndpoint = 'http://192.168.1.20:5002/api/refund'

        let vps

        $('#getCredentials').click(function(){
            $.getJSON(credentialEndpoint, function(data){vps = data})
            alert('Credentials are ready to be sent')
        })

        $('#sendCredentials').click(function(){
            if(vps) {
                $.ajax({
                    type: 'POST',
                    url: insuranceEndpoint,
                    headers: {'Origin': 'https://192.168.1.20:5001'},
                    contentType: 'application/json',
                    data: JSON.stringify(vps),
                    success: function(response) {
                        if(response['errors']){
                            for(e in response['errors']){
                                alert(response['errors'][e].error)
                            }
                        }
                        else alert('Files sent to Insurance successfully.');
                },
                error: function(jqXHR, textStatus, errorThrown) {
                alert.error('Error sending files to Insurance:', errorThrown);
            }
        });
            }
            else alert('error: no vps to send')
        })        

        $('#reset').click(function(){
            vps = null
        })        
    </script>
</body>
</html>
