<!DOCTYPE html>
<html>
<head>
  <title>Pharma</title>
</head>
<body>
  <h1>New order successfully created</h1>
  <p> Scan the QRCODE to pay</p>
  <a href="{{url}}">Link</a>
  <img src="{{ qrcode(url) }}">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  
  <script type="text/javascript" charset="utf-8">
    window.onload = function (){
      const XHR = new XMLHttpRequest();
        
      // Define what happens on successful data submission
      XHR.addEventListener("load", async (event) => {
        if(event.target.status == 200) window.location.href = `/success/${event.target.responseText}`;
        else alert('payment failure')
      });

      // Define what happens in case of error
      XHR.addEventListener("error", (event) => {alert('Oops! Something went wrong.');});

      // Set up our request
      const code = "{{code}}"
      const url = `/order/wait/${code}`
      XHR.open("GET", url);
      XHR.send()
    }
  </script>
  
</body>
</html>