<!DOCTYPE html>
<html>
<head>
  <title>Pharma</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,700;1,900&family=Roboto:wght@300&family=Rubik+Mono+One&display=swap" rel="stylesheet">
</head>
<body>
  <div class="header">Pharmacy</div>

  <div class="main">
    <div class="popupBox">
      <span class="closebtn" onclick="this.parentElement.style.visibility='hidden';">&times;</span>
      <strong><div id="popupHeader"></div></strong><div id="popupText"></div>
    </div>

    <div class="formBox">
      <h1>Verify a medical prescription</h1>
      <p> Use your wallet to scan the QRCODE</p>
      <img src="{{ qrcode(url) }}">
      <div>
        <a href="/">back to homepage</a> 
      </div>
    </div>

  </div>

  <div class="footer">VC-4-MED Proof of Concept</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  
  <script type="text/javascript" charset="utf-8">
      var socket = io();

      socket.on('connect', () => {
        socket.emit('subscribe', {'socket_id': socket.id});
      });

      socket.on('stream_id', (resp) => {
        console.log(`You should be redirected at: /callback/${resp['stream_id']}`);
        window.location.replace(`/callback/${resp['stream_id']}`);
      });
  </script>
  
</body>
</html>